.PagesProyecto {
  background-image: url('../../imagenes/8ec422181b3f4f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
}

.card {
  padding: 7px;
  width: 225px;
  height: 275px;
  background: rgb(223, 225, 235);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }

.card:hover {
  transition: 1s ease-in-out;
  background: rgb(17,7,184);
background: linear-gradient(90deg, rgba(17,212,225,1) 0%, rgb(28, 227, 241) 35%, rgba(0,212,255,1) 100%);
}



.cardProyectos{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardProyecto-caja-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.contenedor-proyecto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.card-title{
  margin-top: 1em;
  font-size: 18px;
}

.proyecto-card-imagen{
  margin-top: 1em;
  height: 120px;
}

.proyectos-contenedor-botones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin-top: 1.5em;
}

.btn-proyectos{
  width: auto;
  height: 30px;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  
.cardProyectos-parrafo{
  font-size: 15px;
}

  .card {
    width: 280px;
    height: 330px;
    padding: 15px;
}

.cardProyectos{
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cardProyectos-caja-1{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-proyectos{
  width: 105%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

}

@media only screen and (min-width: 1024px) {
  .cardProyectos-parrafo{
    font-size: 25px;
  }

  .card {
    width: 400px;
    height: 420px;
    padding: 20px;
}

.cardProyectos{
  width: 45%;
}

.cardProyectos-caja-1{
  width: 100%;
    
}

.contenedor-proyectos{
  width: 105%;
    
    gap: 10px;
}
}