.PagesProyecto {
  background-image: url('../../imagenes/8ec422181b3f4f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
}

.contenedor-proyecto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cardProyectos{
  width: 15rem
}

.cardProyecto-caja-1{
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media only screen and (min-width: 768px) {
  
  .cardProyectos{
    width: 15rem
  }

  .contenedor-proyecto{
    flex-direction: row;
    gap: 50px;
  }
  
  .cardProyecto-caja-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33%;
}
}