.Proyecto {
  background-image: url('../../imagenes/8ec422181b3f4f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -60px;
}

.contenedor-proyecto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}



.cardProyecto-caja-1{
    display: flex;
    flex-direction: column;
    width: 80%;
}