@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --titulo-nombre1 : 'Rubik 80s Fade', cursive;
  --titulo-nombre2 : 'Rubik Vinyl', cursive;
  --subtitulos-1 : 'Acme', sans-serif; 
  --subtitulos-2 : 'Fredoka One', cursive;
  --parrafo-1 : 'Yanone Kaffeesatz', sans-serif;
  --parrafo-2 : 'Signika Negative', sans-serif;
}

.App{
 
}
