@import '../app/App.css';

.Main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-titulo {
    color: aliceblue;
    font-family: var(--titulo-nombre2);
    width: 100%;
    font-size: 5em;
    margin-top: 10px;
  }

.main-titulo-subtitulo{
    margin-top: 10px;
    font-size: 3em;
}


.main-titulo-parrafo{
    font-size: 1.5em;
    margin-top: 10px;
}

.fa-brands{
font-size: 35px;
color: antiquewhite;
}

