@import '../app/App.css';

.Main {
    width: 100%;
    height:min-content;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 140px);
}

.main-titulo {
    color: aliceblue;
    font-family: var(--titulo-nombre1);
    width: 100%;
    font-size: 15px;
    margin-top: 8px;
  }

  .main-titulo-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.main-titulo-subtitulo{
    margin-top: 2px;
    font-size: 12px;
    font-family: var(--subtitulos-2);
    display: flex;
    color: antiquewhite;
   justify-content: center; 
}




.main-titulo-parrafo{
    font-size: 10px;
    margin-top: 10px;
    padding: 10px;
    color: aliceblue;
    font-family: var(--parrafo-2);
}

.main-redes-titulo{
    font-size: 10px;
    color: aliceblue;
}


.main-redes-iconos{
font-size: 20px;
color: aliceblue;
}

.main-redes-iconos:hover{
  font-size: 30px;
color: rgb(223, 225, 235);
-webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


.main-contenedor-redes{
    gap: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.main-imagen-perfil{
    border-radius: 50%;
    display: flex;
    width: 13rem;
    height: 13rem;
    padding: 7px;
    border: 3px groove whitesmoke;
  background: rgb(223, 225, 235);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.main-contenedor-imagen{
    display: flex;
    justify-content: center;
}


.main-imagen-perfil:hover {
  transition: 1s ease-in-out;
  background: rgb(17,7,184);
background: linear-gradient(90deg, rgba(17,212,225,1) 0%, rgb(28, 227, 241) 35%, rgba(0,212,255,1) 100%);
}


@media only screen and (min-width: 768px) {
    
    .main-titulo {
        font-size: 30px;
      }
    
     
    
      .main-contenedor-parrafo-imagen{
        display: flex;
        flex-direction: row;

      }


    .main-titulo-subtitulo{
        margin-top: 2px;
        font-size: 25px;
    }
    
    
    .main-titulo-parrafo{
        font-size: 20px;
        margin-top: 10px;
        width: 70%;
        margin-left: 25px;
    }
    
    .main-redes-titulo{
        font-size: 20px;
    }
    
    
    .main-icono{
    font-size: 30px;
    color: aliceblue;
    }
    
    
    .main-contenedor-redes{
    gap: 15px;
    height: 50px;
    }
    
    .main-imagen-perfil{
       width: 16rem;
       height: 16rem;
    }
    
    .main-contenedor-imagen{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    



  }

  @media only screen and (min-width: 1024px){
    .main-titulo {
        font-size: 35px;
        margin-top: 8px;
        text-align: center;
        width: 100%;
      }
    
      .main-titulo-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      .main-contenedor-parrafo-imagen{
        display: flex;
        flex-direction: row;

      }


    .main-titulo-subtitulo{
        margin-top: 2px;
        font-size: 20px;
        font-family: var(--subtitulos-2);
        display: flex;
       justify-content: center; 
    }
    
    
    .main-titulo-parrafo{
        font-size: 20px;
        margin-top: 10px;
    }
    
    .main-redes-titulo{
        font-size: 20px;
    }
    
    
    .main-icono{
    font-size: 25px;
    color: aliceblue;
    }
    
    
    .main-contenedor-redes{
    gap: 15px;
    margin-bottom: 7px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
    
    .main-imagen-perfil{
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }
    
    .main-contenedor-imagen{
        display: flex;
        justify-content: center;
    }
    



  }

