@import '../../components/app/App.css';

.Navbar{
    height: 46px
}

.navbar{
    height: 40px;
}

.navbar-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.nav-link{
    color: antiquewhite;
    font-weight: 900;
    font-family: var(--parrafo-2);
    font-size: 7px;
   
}

.Navbar-span-icono{
    color: antiquewhite;
}

.nav-link:hover{
    color: rgb(223, 225, 235);
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.Navbar-span-icono:hover{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


@media only screen and (min-width: 768px){
    .Navbar{
        height: 70px
    }
    
    .navbar{
        height: 70px;
    }
    
    .nav-link{
        font-size: 15px;
    }
    
    .Navbar-span-icono{
        color: antiquewhite;
    }
    
    .nav-link:hover, .Navbar-span-icono:hover{
        color:rgb(223, 225, 235);
        font-size: 20px;
    }

}

@media only screen and (min-width: 1024px){
    .Navbar{
        height: 70px;
        width: 100%;
    }
    
    .navbar{
        height: 70px;
        width: 100%;
    }
    
    
    .nav-item{
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 10%;
    }
    
    .nav-link{
        color: antiquewhite;
        font-weight: 900;
        font-family: var(--parrafo-2);
        font-size: 14px;
    }
    

}