.Skill {
    background-image: url('../../imagenes/8ec422181b3f4f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
     margin-top: -111px;
    
}


.card-skill{
width: 90%;
}

.contenedor-card-skill{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cardSkill-caja-1{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

