.Skill{
    width: 100%;
    background-image: url('../../imagenes/8ec422181b3f4f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.contenedor-skill{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title-skill{
    margin-top: 1em;
    font-size: 18px;
}

.skill-imagen{
    width: 15rem ;
    height: 10rem;
}

.card-skill{
    height: auto;
}

.contenedor-card-skill{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.cardSkill-caja-1{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cardSkill-caja-1200{
    display: none;
}

@media only screen and (min-width: 375px) {
        
        .card-title-skill{
            margin-top: 1em;
            font-size: 18px;
        }
        
        .skill-imagen{
            width: 15rem ;
            height: 10rem;
        }
        
        .card-skill{
            width: 17rem;
        }
      
  
}

@media only screen and (min-width: 425px) {
    
        
    .skill-imagen{
        width: 16rem ;
        height: 10rem;
    }
    
    .card-skill{
        width: 18rem;
    }
}

@media only screen and (min-width: 768px) {
    .card-title-skill{
        margin-top: 1em;
        font-size: 18px;
    }
    
         
    .skill-imagen{
        width: 16rem ;
        height: 10rem;
    }
    
    .card-skill{
        width: 18rem;
    }
    .contenedor-card-skill{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
    .cardSkill-caja{
        display: flex;
        flex-direction: row;
       justify-content: center;
       align-items: center;
       gap: 2em;
}
}

@media only screen and (min-width: 1024px) {
    .card-title-skill{
        margin-top: 1em;
        font-size: 20px;
    }
    
         
    .skill-imagen{
        width: 20rem ;
        height: 12rem;
    }
    
    .card-skill{
        width: 25rem;
    }
    .contenedor-card-skill{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
    .cardSkill-caja{
        display: flex;
        flex-direction: row;
       justify-content: center;
       align-items: center;
       gap: 2em;
}
}


@media only screen and (min-width: 1200px) {

    .cardSkill-caja{
        display: none;
    }

       
    .cardSkill-caja-1200{
        display: flex;
        flex-direction: row;
       justify-content: center;
       align-items: center;
       gap: 2em;
}
}


