.Skill{
    width: 100%;
    background-image: url('../../imagenes/8ec422181b3f4f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.card-skill{
width: 90%;
}

.skill-imagen{
    width: 15rem ;
    height: 10rem;
}

.contenedor-card-skill{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cardSkill-caja-1{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media only screen and (min-width: 768px) {
    .card-skill{
        width: 100%;
        }
        .contenedor-skill{
            width: 130%;
        }


        .skill-imagen{
            width: 18rem ;
        }
        
        
        .cardSkill-caja-1{
            width: 40%;
            display: flex;
            flex-direction: column;
           justify-content: center;
           align-items: center;
        }
}

@media only screen and (min-width: 1024px) {
    .card-skill{
        width: 100%;
        height: 20rem;
        }
        .contenedor-skill{
            width: 125%;
            
        }

        .skill-imagen{
            width: 18rem;
           
        }
        
        
        .cardSkill-caja-1{
            width: 27%;
        }
}


