.PagesCursos {
     background-image: url('../../imagenes/8ec422181b3f4f.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     height:auto;
 }

 .Cursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .cardCursos-contenedor{
    display: flex;
    flex-direction: column;
}

 .card-curso {
     width: 16rem
 }
 
 .contenedor-curso-2{
    display: none;
 }

 .contenedor-curso{
     display: flex;
     flex-direction: column; 
     align-items: center; 
 }

 .Imagen-titulo {
    width: 15rem;
 }

 .btn-cursos{
    width: 80px;
    height: 35px;
    padding: 5px;
    
  }


  @media only screen and (min-width: 375px) {

    .card-curso {
        width: 18rem
    }

    .Imagen-titulo {
        width: 16rem;
     }
    
     .btn-cursos{
        width: 85px;
        font-size: 15px;
        height: 40px;
        padding: 5px;
      }
  }

  @media only screen and (min-width: 425px) {
   
  }



 @media only screen and (min-width: 768px) {
    .card-curso {
        width: 20rem;
        height:auto;
        
    }

    .Imagen-titulo {
        width: 18rem;
     }
    
     .btn-cursos{
        width: 90px;
        font-size: 17px;
        height: 45px;
        padding: 6px;
      }

     .CardCursos{
        width: 45%;
       
     }
   
.curso-contenedor-row{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
      .contenedor-curso{
          gap: 10px;
      }

     
 }

 @media only screen and (min-width: 1024px) {
    .card-curso {
        width: 25rem;
        height: auto;
        
    }
.main-titulo{
    font-size: 40px;
    font-weight: 600;
}
    .contenedor-curso{
        gap: 5px;
        flex-direction: column;
    }

    .Imagen-titulo {
      width: 23rem;
      height: 20rem;
   }
  
   .curso-contenedor-row{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
   

    
}

@media only screen and (min-width: 1200px) {
    
    .contenedor-curso-2{
        display: flex;
        flex-direction: column;
        gap: 1em;
     }

    .card-curso {
        width: 25rem;
        height: auto;
        
    }
.main-titulo{
    font-size: 40px;
    font-weight: 600;
}
    .contenedor-curso{
       display: none;
    }

    .Imagen-titulo {
      width: 23rem;
      height: 20rem;
   }
  
   .curso-contenedor-row{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
   

    
}